//
// Colors
//

// fusv-disable

$black: #000000 !default;
$white: #ffffff !default;

//
// Base colors
//

$_colors: (
    "blue": #0d6efd,
    "indigo": #6610f2,
    "purple": #6f42c1,
    "pink": #d63384,
    "red": #dc3545,
    "orange": #fd7e14,
    "yellow": #ffc107,
    "green": #28a745,
    "teal": #20c997,
    "cyan": #17a2b8,
);

$colors: () !default;
$colors: map-merge($_colors, $colors);

//
// Theme colors
//

$_theme-colors: (
    "primary": "blue",
    "success": "green",
    "info": "cyan",
    "warning": "yellow",
    "danger": "red",
);

$theme-colors: () !default;
$theme-colors: map-merge($_theme-colors, $theme-colors);

//
// Grayscale
//

$gray: get-color("gray") !default;
$gray-50: get-color("gray", 50) !default;
$gray-100: get-color("gray", 100) !default;
$gray-200: get-color("gray", 200) !default;
$gray-300: get-color("gray", 300) !default;
$gray-400: get-color("gray", 400) !default;
$gray-500: get-color("gray", 500) !default;
$gray-600: get-color("gray", 600) !default;
$gray-700: get-color("gray", 700) !default;
$gray-800: get-color("gray", 800) !default;
$gray-900: get-color("gray", 900) !default;

//
// Color variables
//

$blue: get-color("blue") !default;
$blue-50: get-color("blue", 50) !default;
$blue-100: get-color("blue", 100) !default;
$blue-200: get-color("blue", 200) !default;
$blue-300: get-color("blue", 300) !default;
$blue-400: get-color("blue", 400) !default;
$blue-500: get-color("blue", 500) !default;
$blue-600: get-color("blue", 600) !default;
$blue-700: get-color("blue", 700) !default;
$blue-800: get-color("blue", 800) !default;
$blue-900: get-color("blue", 900) !default;

$indigo: get-color("indigo") !default;
$indigo-50: get-color("indigo", 50) !default;
$indigo-100: get-color("indigo", 100) !default;
$indigo-200: get-color("indigo", 200) !default;
$indigo-300: get-color("indigo", 300) !default;
$indigo-400: get-color("indigo", 400) !default;
$indigo-500: get-color("indigo", 500) !default;
$indigo-600: get-color("indigo", 600) !default;
$indigo-700: get-color("indigo", 700) !default;
$indigo-800: get-color("indigo", 800) !default;
$indigo-900: get-color("indigo", 900) !default;

$purple: get-color("purple") !default;
$purple-50: get-color("purple", 50) !default;
$purple-100: get-color("purple", 100) !default;
$purple-200: get-color("purple", 200) !default;
$purple-300: get-color("purple", 300) !default;
$purple-400: get-color("purple", 400) !default;
$purple-500: get-color("purple", 500) !default;
$purple-600: get-color("purple", 600) !default;
$purple-700: get-color("purple", 700) !default;
$purple-800: get-color("purple", 800) !default;
$purple-900: get-color("purple", 900) !default;

$pink: get-color("pink") !default;
$pink-50: get-color("pink", 50) !default;
$pink-100: get-color("pink", 100) !default;
$pink-200: get-color("pink", 200) !default;
$pink-300: get-color("pink", 300) !default;
$pink-400: get-color("pink", 400) !default;
$pink-500: get-color("pink", 500) !default;
$pink-600: get-color("pink", 600) !default;
$pink-700: get-color("pink", 700) !default;
$pink-800: get-color("pink", 800) !default;
$pink-900: get-color("pink", 900) !default;

$red: get-color("red") !default;
$red-50: get-color("red", 50) !default;
$red-100: get-color("red", 100) !default;
$red-200: get-color("red", 200) !default;
$red-300: get-color("red", 300) !default;
$red-400: get-color("red", 400) !default;
$red-500: get-color("red", 500) !default;
$red-600: get-color("red", 600) !default;
$red-700: get-color("red", 700) !default;
$red-800: get-color("red", 800) !default;
$red-900: get-color("red", 900) !default;

$orange: get-color("orange") !default;
$orange-50: get-color("orange", 50) !default;
$orange-100: get-color("orange", 100) !default;
$orange-200: get-color("orange", 200) !default;
$orange-300: get-color("orange", 300) !default;
$orange-400: get-color("orange", 400) !default;
$orange-500: get-color("orange", 500) !default;
$orange-600: get-color("orange", 600) !default;
$orange-700: get-color("orange", 700) !default;
$orange-800: get-color("orange", 800) !default;
$orange-900: get-color("orange", 900) !default;

$yellow: get-color("yellow") !default;
$yellow-50: get-color("yellow", 50) !default;
$yellow-100: get-color("yellow", 100) !default;
$yellow-200: get-color("yellow", 200) !default;
$yellow-300: get-color("yellow", 300) !default;
$yellow-400: get-color("yellow", 400) !default;
$yellow-500: get-color("yellow", 500) !default;
$yellow-600: get-color("yellow", 600) !default;
$yellow-700: get-color("yellow", 700) !default;
$yellow-800: get-color("yellow", 800) !default;
$yellow-900: get-color("yellow", 900) !default;

$green: get-color("green") !default;
$green-50: get-color("green", 50) !default;
$green-100: get-color("green", 100) !default;
$green-200: get-color("green", 200) !default;
$green-300: get-color("green", 300) !default;
$green-400: get-color("green", 400) !default;
$green-500: get-color("green", 500) !default;
$green-600: get-color("green", 600) !default;
$green-700: get-color("green", 700) !default;
$green-800: get-color("green", 800) !default;
$green-900: get-color("green", 900) !default;

$teal: get-color("teal") !default;
$teal-50: get-color("teal", 50) !default;
$teal-100: get-color("teal", 100) !default;
$teal-200: get-color("teal", 200) !default;
$teal-300: get-color("teal", 300) !default;
$teal-400: get-color("teal", 400) !default;
$teal-500: get-color("teal", 500) !default;
$teal-600: get-color("teal", 600) !default;
$teal-700: get-color("teal", 700) !default;
$teal-800: get-color("teal", 800) !default;
$teal-900: get-color("teal", 900) !default;

$cyan: get-color("cyan") !default;
$cyan-50: get-color("cyan", 50) !default;
$cyan-100: get-color("cyan", 100) !default;
$cyan-200: get-color("cyan", 200) !default;
$cyan-300: get-color("cyan", 300) !default;
$cyan-400: get-color("cyan", 400) !default;
$cyan-500: get-color("cyan", 500) !default;
$cyan-600: get-color("cyan", 600) !default;
$cyan-700: get-color("cyan", 700) !default;
$cyan-800: get-color("cyan", 800) !default;
$cyan-900: get-color("cyan", 900) !default;

//
// Theme color variables
//

$primary: get-color("primary") !default;
$primary-50: get-color("primary", 50) !default;
$primary-100: get-color("primary", 100) !default;
$primary-200: get-color("primary", 200) !default;
$primary-300: get-color("primary", 300) !default;
$primary-400: get-color("primary", 400) !default;
$primary-500: get-color("primary", 500) !default;
$primary-600: get-color("primary", 600) !default;
$primary-700: get-color("primary", 700) !default;
$primary-800: get-color("primary", 800) !default;
$primary-900: get-color("primary", 900) !default;

$success: get-color("success") !default;
$success-50: get-color("success", 50) !default;
$success-100: get-color("success", 100) !default;
$success-200: get-color("success", 200) !default;
$success-300: get-color("success", 300) !default;
$success-400: get-color("success", 400) !default;
$success-500: get-color("success", 500) !default;
$success-600: get-color("success", 600) !default;
$success-700: get-color("success", 700) !default;
$success-800: get-color("success", 800) !default;
$success-900: get-color("success", 900) !default;

$info: get-color("info") !default;
$info-50: get-color("info", 50) !default;
$info-100: get-color("info", 100) !default;
$info-200: get-color("info", 200) !default;
$info-300: get-color("info", 300) !default;
$info-400: get-color("info", 400) !default;
$info-500: get-color("info", 500) !default;
$info-600: get-color("info", 600) !default;
$info-700: get-color("info", 700) !default;
$info-800: get-color("info", 800) !default;
$info-900: get-color("info", 900) !default;

$warning: get-color("warning") !default;
$warning-50: get-color("warning", 50) !default;
$warning-100: get-color("warning", 100) !default;
$warning-200: get-color("warning", 200) !default;
$warning-300: get-color("warning", 300) !default;
$warning-400: get-color("warning", 400) !default;
$warning-500: get-color("warning", 500) !default;
$warning-600: get-color("warning", 600) !default;
$warning-700: get-color("warning", 700) !default;
$warning-800: get-color("warning", 800) !default;
$warning-900: get-color("warning", 900) !default;

$danger: get-color("danger") !default;
$danger-50: get-color("danger", 50) !default;
$danger-100: get-color("danger", 100) !default;
$danger-200: get-color("danger", 200) !default;
$danger-300: get-color("danger", 300) !default;
$danger-400: get-color("danger", 400) !default;
$danger-500: get-color("danger", 500) !default;
$danger-600: get-color("danger", 600) !default;
$danger-700: get-color("danger", 700) !default;
$danger-800: get-color("danger", 800) !default;
$danger-900: get-color("danger", 900) !default;

// fusv-enable
