//
// Functions
//

// Colors
// ---------------------------------------------------------------------------

@function validate-color-variant($variant) {
    @return type-of($variant) == number and unitless($variant) and $variant > 0 and $variant < 1000;
}

@function get-gray($variant: null) {
    @if $variant == null {
        $variant: 500;
    } @else if not validate-color-variant($variant) {
        @error "Invalid gray variant: #{$variant}";
    }

    $weight: percentage($variant / 1000);
    @return mix($black, $white, $weight);
}

@function get-color($name, $variant: null) {
    @if $name == "gray" {
        @return get-gray($variant);
    } @else if map-has-key($theme-colors, $name) {
        $name: map-get($theme-colors, $name);
    }

    @if not map-has-key($colors, $name) {
        @error "Invalid color name: #{$name}";
    }

    $raw-color: map-get($colors, $name);
    $mid-color: change-color($raw-color, $lightness: 50%);

    @if $variant == null {
        @return $raw-color;
    } @else if not validate-color-variant($variant) {
        @error "Invalid color variant: #{$variant}";
    } @else if $variant < 500 {
        $weight: percentage($variant / 500);
        @return mix($mid-color, $white, $weight);
    } @else if $variant > 500 {
        $weight: percentage(($variant - 500) / 500);
        @return mix($black, $mid-color, $weight);
    }

    @return $mid-color;
}

// Breakpoints
// ---------------------------------------------------------------------------

@function get-breakpoint-next($name) {
    $names: map-keys($breakpoints);
    $index: index($names, $name);
    @return if($index != null and $index < length($names), nth($names, $index + 1), null);
}

@function get-breakpoint-min($name) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

@function get-breakpoint-max($name) {
    $next: get-breakpoint-next($name);
    @return if($next, get-breakpoint-min($next) - 0.02, null);
}

@function get-breakpoint-infix($name) {
    @return if(get-breakpoint-min($name) == null, "", "-#{$name}");
}

// Breakpoints
// ---------------------------------------------------------------------------
