//
// Mixins
//

// Breakpoints
// ---------------------------------------------------------------------------

@mixin media-breakpoint-up($name) {
    $min: get-breakpoint-min($name);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-breakpoint-down($name) {
    $max: get-breakpoint-max($name);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-breakpoint-between($lower, $upper) {
    $min: get-breakpoint-min($lower);
    $max: get-breakpoint-max($upper);

    @if $min != null and $max != null {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $max == null {
        @include media-breakpoint-up($lower) {
            @content;
        }
    } @else if $min == null {
        @include media-breakpoint-down($upper) {
            @content;
        }
    }
}

@mixin media-breakpoint-only($name) {
    $min: get-breakpoint-min($name);
    $max: get-breakpoint-max($name);

    @if $min != null and $max != null {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $max == null {
        @include media-breakpoint-up($name) {
            @content;
        }
    } @else if $min == null {
        @include media-breakpoint-down($name) {
            @content;
        }
    }
}

// Utilities
// ---------------------------------------------------------------------------

@mixin utility($name, $opts, $infix) {
    $properties: get-utility-property($name, $opts);
    $responsive: map-get($opts, responsive);

    @if $responsive == true or $infix == "" {
        @each $suffix, $value in get-utility-values($name, $opts) {
            $classname: get-utility-classname($name, $opts, $infix, $suffix);

            .#{$classname} {
                @each $property in $properties {
                    #{$property}: $value;
                }
            }
        }
    }
}
