//
// Docta CSS - Restore
//

// Utilities
// ---------------------------------------------------------------------------

$_utilities: (
    "box-shadow": (
        property: box-shadow,
        class: shadow,
        values: (
            null: $box-shadow,
            sm: $box-shadow-sm,
            lg: $box-shadow-lg,
            none: none
        )
    ),
    "border-color": (
        property: border-color,
        class: border,
        values: map-merge($theme-colors, (// ￿white￿: $white))
    ),
    "color": (
        property: color,
        class: text,
        values:
            map-merge(
                $theme-colors,
                (
                    // ￿white￿: $white,
                        // ￿body￿: $body-color,
                        // ￿muted￿: $text-muted,
                        // ￿black-50￿: rgba($black, 0.5),
                        // ￿white-50￿: rgba($white, 0.5),
                        // ￿reset￿: inherit
                )
            )
    ),
    "background-color": (
        property: background-color,
        class: bg,
        values:
            map-merge(
                $theme-colors,
                (
                    // ￿body￿: $body-bg,
                        // ￿white￿: $white,
                        // ￿transparent￿: transparent
                )
            )
    ),
    "gradient": (
        property: background-image,
        class: bg,
        values: (
            gradient: var(--bs-gradient)
        )
    )
);
